<div class = "container">
  <div class="catalog">
    <div *ngIf="error" class="error">{{ error }}</div>
    <div class="item-card" *ngFor="let item of items" >
       <!-- (click)="viewItem(item)"> -->
        <h3>{{ item.id }}</h3>
        <h1>{{ item.name }}</h1>
        <p *ngIf="item.description">{{ item.description }}</p>
        <p *ngIf="item.price">Price: ${{ item.price }}</p>
        <p *ngIf="item.rating">Rating: {{ item.rating }}</p>
        <button (click)="addToCart(item.id)">Add to Cart</button>
        <button (click)="viewItem(item)">View Item</button><p>
        <div *ngIf="alert && alert_id==item.id" class = "cart-alert">{{alert}}</div>
    </div>
  </div>



  <div class="cart" *ngIf="isAuthenticated && showCart">
    <div>
      <button (click)="toggleCart()">Close cart</button>
      <app-cart></app-cart>
    </div>
  </div>
</div>
