<div *ngIf="isAuthenticated === null">
  <p>Loading...</p>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div *ngIf="isAuthenticated" >
  <div class="container">
    <h2>Your Cart</h2>
    <div class="error-container">
      <div *ngIf="error" class="error">{{ error }}</div>
    </div>
    <div *ngIf="cartItems.length === 0">
      <p style = "text-align: center;">Your cart is empty.</p>
    </div>
    <div class="cart-item" *ngFor="let cartItem of cartItems">
      <div class="item-info">
        <h3>ID: {{ cartItem.item.id }}</h3>
        <!-- <h3>Cart Item ID: {{ cartItem.id }}</h3> -->
        <h3>{{ cartItem.item.name }}</h3>
        <p>Price: ${{ cartItem.item.price }}</p>
        <p>Quantity: {{ cartItem.item_count }}</p>
      </div>
      <div class="item-actions">
          <button class="item-actions-update" (click)="updateItem(cartItem, '+')">+</button>
          <!-- <input type="text" [(ngModel)]="cartItem.item_count" (ngModelChange)="updateItem(cartItem, ''+cartItem.item_count)"/> -->
           <button>{{cartItem.item_count}}</button>
          <button class="item-actions-update" (click)="updateItem(cartItem, '-')">-</button>
          <button class ="item-actions-remove" (click)="removeItem(cartItem)">
          <!-- Remove -->
           <!-- <img [src]="'assets/red-trash-can-icon.png'" [alt]="'red-trash-can-icon'"/> -->
          <img src="/red-trash-can-icon.png" alt="red-trash-can-icon"/>
        </button>
        <p class="subtotal">Subtotal: ${{ cartItem.subtotal }}</p>
        <!-- <p class="subtotal">Subtotal: ${{ subTotals[cartItem.id] }}</p> -->
      </div>
    </div>
    <div class="total">
      <h3>Total: ${{ totalPrice }}</h3>
      <button class="buy">Buy now</button>
      <button class="buy" (click)="deleteCart()">Empty Cart</button>
    </div>
  </div>
</div>


<div *ngIf="isAuthenticated===false" >
  <!-- Cart items will be displayed here if the user is authenticated -->
   <div class = "container">
    
  <h2>Please login or Sign up!</h2>
  <div class="item-actions">
    <button (click)="redirectToLogin()">Login</button>
    <button (click)="redirectToSignup()">Sign Up</button>
  </div>
  </div>
</div>
