.container {
    padding: 1rem;
  }

  .error-container {
    height: 30px;
  }
  
  .cart-item {
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-item:hover {
    /* border: 3px solid #b3a7a7dd; */
    background-color: beige;
    box-shadow: 5px 5px  grey;
  }

  .item-actions {
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    padding: 0.3rem 0.8rem;
    border: none;
    color: white;
    text-align: center;

  }
  
  .item-actions button {
    background-color: crimson;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    /* width: 10%; */

    border: inherit;
    padding: inherit;
    margin: inherit; 
  }

  .item-actions-update {
    background-color: blue; 
  }

  .item-actions input{
    text-align: center;
    background-color: #a3712f;
    width: 5%;

    border: inherit; /* inherit border from parent, or set to none */
    padding: inherit; /* inherit padding from parent, or set to a specific value*/
    margin: inherit; /* inherit margin from parent, or set to 0 if needed*/
    color: inherit;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .item-actions button:hover {
    background-color: #005fa3;
  }
  
  .item-actions img{
    width: 20px;
    padding:  0 5px 0 5px ;
  }
  .total {
    text-align: right;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .subtotal {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .error {
    color: red;
  }

  .total button{
    text-align: center;
    background-color: crimson;
    color: white;
    cursor: pointer;
    padding: 1em;
    margin: 1rem;
    width: 30%;
    position: sticky;
  }
  .total button:hover{
    background-color: red;
    box-shadow: 5px 5px gray;
  }
