.container {
    padding: 1rem;
    display: grid
  }

  .error-container {
    height: 30px;
  }
  
  .cart-item {
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-item:hover {
    border: 3px solid #b3a7a7dd;
    background-color: beige;
    box-shadow: 5px 5px  grey;
  }

  .item-actions {
    margin-right: 0.5rem;
    padding: 0.3rem 0.8rem;
    border: none;
    color: white;
    cursor: pointer;
    justify-content: center;

  }
  
  .item-actions button {
    background-color: #007acc;
    color: white;
    cursor: pointer;

    border: inherit; /* inherit border from parent, or set to none */
    padding: inherit; /* inherit padding from parent, or set to a specific value*/
    margin: inherit; /* inherit margin from parent, or set to 0 if needed*/
  }

  .item-actions input{
    text-align: center;
    background-color: #a3712f;
    max-width: 50px;

    border: inherit; /* inherit border from parent, or set to none */
    padding: inherit; /* inherit padding from parent, or set to a specific value*/
    margin: inherit; /* inherit margin from parent, or set to 0 if needed*/
    color: inherit;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  .item-actions button:hover {
    background-color: #005fa3;
  }
  
  .total {
    text-align: right;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .subtotal {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .error {
    color: red;
  }

  .total button{
    text-align: center;
    background-color: crimson;
    color: white;
    cursor: pointer;
    padding: 1em;
    border: none;
    width: 7%;
  }
